<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--get actual device width-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	{% block title %}Greetings{% endblock %}
	</title>
	{% block getJSON %}
	{% endblock %}
	<!--include jquery, jquery mobile, highcharts libraries, layout.css and layout.js-->
	<link rel="stylesheet" href="{{STATIC_URL}}charts/csslib/chart.css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}charts/jquery_mobile/jquery.mobile-1.3.1.min.css"/>
	<script type="text/javascript" src="{{ STATIC_URL }}charts/jslib/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}charts/jquery_mobile/jquery.mobile-1.3.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}charts/jslib/highCharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}charts/jslib/test.js"></script>
</head>
<body>
	{% for o in array %}
	<p> o </p>
	{% endfor %}
	<div class="container">
		{% csrf_token %}
		{% block header %}
		<div id="header">
			<img id="logo" src="{{ STATIC_URL }}charts/images/banner.PNG" />
			<br><br>
			<b id="title">Local Weather for {% block city %}{% endblock %} at {% block lab %}{% endblock %}</b>
		</div>
		{% endblock %}
		{% block nav-bar %}
		<ul id="nav-bar">
			{% block flink %}
			<li><a href="/flab/" rel="external">Foothills Lab</a></li>
			{% endblock %}
			{% block mlink %}
			<li><a href="/mlab/" rel="external">Mesa Lab</a></li>
			{% endblock %}
			{% block nsflink %}
			<!-- The NSF files have multiple entries per point
			<a href="http://128.117.80.128:8000/nsf/" rel="external">NSF</a> -->
			{% endblock %}
			{% block nwsclink %}
			<li><a href="/nwsc/" rel="external">Super Computer</a></li>
			{% endblock %}
			{% block extralinks %}
			{% endblock %}
		</ul>
		{% endblock %}
		{% block options %}
		<div id="optionsContainer"></div>
		{% endblock %}
		{% block convert_button %}
		<select name="convert" id="convert">
			<option>Metric</option>
			<option>English</option>
		</select>
		{% endblock %}
		{% block charts %}
		<div id="chartContainer"></div>
		{% endblock %}
	</div>
</html>