{% extends "base.html" %}

{% block title %}
FLAB
{% endblock %}

{% block getJSON %}
<script type="text/javascript">
var json = "{{ fjson|escapejs }}"
</script>
{% endblock %}

{% block city %}
Boulder
{% endblock %}

{% block lab %}
Foothills Lab
{% endblock %}

{% block flink %}
{% endblock %}

{% block extralinks %}
<a href="http://www.eol.ucar.edu/webcam/FL_webcam_current.html" rel="external">FL WebCam</a>
<a href="http://www.eol.ucar.edu/weather/weather_fl/station.html" rel="external">FL Weather Station Info</a>
<a href="http://www.eol.ucar.edu/weather/weather_fl/elsewhere.html" rel="external">Other Links</a>
<a href="http://www.eol.ucar.edu/weather/weather_fl/disclaimer.html" rel="external">Disclaimer</a>
{% endblock %}