{% extends "base.html" %}

{% block title %}
MLAB
{% endblock %}

{% block getJSON %}
<script type="text/javascript">
var json = "{{ mjson|escapejs }}";
var attributes = "{{ attr|escapejs }}";
var timeout_length = "{{ timeout|escapejs }}";
var presets = "{{ cookie|escapejs }}";
</script>
{% endblock %}

{% block city %}
Boulder
{% endblock %}

{% block lab %}
Mesa Lab
{% endblock %}

{% block mlink %}
{% endblock %}

{% block extralinks %}
<li><a href="http://www.eol.ucar.edu/weather/weather_ml/station.html" rel="external">ML Weather Station Info</a></li>
<li><a href="http://www.eol.ucar.edu/weather/weather_fl/elsewhere.html" rel="external">Other Links</a></li>
<li><a href="http://www.eol.ucar.edu/weather/weather_ml/disclaimer.html" rel="external">Disclaimer</a></li>
{% endblock %}