{% extends "base.html" %}

{% block title %}
NWSC
{% endblock %}

{% block getJSON %}
<script type="text/javascript">
var json = "{{ nwscjson|escapejs }}";
var attributes = "{{ attr|escapejs }}";
var timeout_length = "{{ timeout|escapejs }}";
var presets = "{{ cookie|escapejs }}";
</script>
{% endblock %}

{% block city %}
Cheyenne
{% endblock %}

{% block lab %}
NWSC
{% endblock %}

{% block nwsclink %}
{% endblock %}

{% block extralinks %}
<li><a href="http://www.eol.ucar.edu/weather/weather_fl/elsewhere.html" rel="external">Other Links</a></li>
{% endblock %}